* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: rgb(240,240,240);
    line-height: 1.5;
}


a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.header {
    height: 100px;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

.column-container:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.footer {
    padding: 35px;
    border-top: 1px solid #dedede;
    font-family: "Helvetica neue",Helvetica,Arial,Sans-serif;
    background-color: white;
    color: #777;
    font-size: 12px;
}

.footer h3 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
}

.footer li {
    padding: 5px 15px 5px 0;
}

.footer .column {
    width: 20%;
    float: left;
}

.legal {
    margin-top: 75px;
}

.legal p {
    margin-top: 0;
    color: #333;
    font-size: 95%;
}

.legal a {
    text-decoration: underline;
}

.footer a {
    color: #777;
}

.footer a:hover {
    text-decoration: underline;
}

.featured-item {
    width: 49%;
}

.item-images {
    border: 1px solid gray;
 
}

.main-image {
    width: 75%;
    border-right: 1px solid lightgray; 
}

.main-image, .secondary-images {
    float: left;
    
}

.secondary-images {
    width: 25%;
    
}

.item-images img, .main-image img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.secondary-image {
    height: 126px;
}

.secondary-image:nth-child(2) {
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
}
.main-image img{
    height: 378px;
}

.clear-fix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
.main-text, .sidebar-text {
    float: left;
}

.main-text {
    width: 75%;
}

.sidebar-text {
    width: 25%;
    text-align: center;
    font-weight: bold;
}

.sidebar-text li:nth-child(2) {
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
}

.sidebar-text li {
    padding: 10px 0;
}

.main-text a:hover {
    text-decoration: underline;
}

.main-text a {
    color: black;
}

.sidebar-text li:nth-child(3) {
   color: black;
}



.featured-item:nth-child(odd) {
    float: left;
}

.featured-item:nth-child(even) {
    float: right;
}